<%- include('partials/header'); %>
    <main>
        <section class="main-content">
            <div class="head-line">
                <h1>Highscore i Wordle på Svenska</h1>
            </div>
            <div class="filters">
                <h3>Filtrera Highscore-listan:</h3>

                <div class="filter-group">
                    <span>Ordlängd: </span>
                    <% [3, 4, 5, 6, 7, 8].forEach(l=> { %>
                        <a href="/highscores/<%= l %>/<%= currentDups %>"
                            class="filter-link <%= currentLength == l ? 'active' : '' %>">
                            <%= l %>
                        </a>
                        <% }) %>
                        <a href="/highscores/all/all"
                            class="filter-link <%= currentLength == 'all' ? 'active' : '' %>">
                            Alla
                        </a>
                </div>
                <div class="filter-group">
                    <span>Visa: </span>
                    <a href="/highscores/<%= currentLength %>/all"
                        class="filter-link <%= currentDups === 'all' ? 'active' : '' %>">
                        Alla ord
                    </a>
                    <a href="/highscores/<%= currentLength %>/false"
                        class="filter-link <%= currentDups === 'false' ? 'active' : '' %>">
                        Unika bokstäver
                    </a>
                    <a href="/highscores/<%= currentLength %>/true"
                        class="filter-link <%= currentDups === 'true' ? 'active' : '' %>">
                        Dubletter tillåtna
                    </a>
                </div>
            </div>
            <table>
                <tr>
                    <th>Namn</th>
                    <th>Tid</th>
                    <th>Ordlängd</th>
                    <th>Dubletter?</th>
                    <th>Antal försök</th>
                </tr>
                <% for (let index=0; index < highscores.length; index++) { const element=highscores[index]; %>
                    <tr>
                        <td><%- element.gamerName %></td>
                        <td><%- Math.floor(element.duration/100 + 0.5)/10 + "s" %></td>
                        <td><%- element.numberOfChars %></td>
                        <td><%- element.dups===true? 'Ja' : 'Nej' %></td>
                        <td><%- element.numberOfTries %></td>
                    </tr>
                    <% }; %>
            </table>
        </section>
    </main>
    <%- include('partials/footer'); %>